*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body {
    background: #010210;
    width: 100%;
}
header {
    width: 85%;
    margin: auto;
}
header img {
    width: 3em;
    margin: 2.5em 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    max-width: 40em;
    margin: auto;
    text-align: left;
    height: 75vh;
    color: white;
}
h1 {
    font-weight: 400;
    margin: 13px 0;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    padding: 18px;
    margin: 24px 0;
    color: white;
}

/* Hide the default checkbox */
input[type=checkbox] {
    visibility: hidden;
}
  
/* Creating a custom checkbox */
.checkbox-container {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.checkbox {
    height: 25px;
    width: 25px;
    background-color: #010210;
    border: 2px solid white;
    border-radius: 4px;
    margin-right: 12px;
}
  
/* Specify the background color to be
shown when checkbox is checked */
.checkbox-container input:checked ~ .checkbox {
    background-color: #010210;
}
  
/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Display checkmark when checked */
.checkbox-container input:checked ~ .checkbox:after {
    display: block;
}
  
/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.checkbox-container .checkbox:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




form small {
    margin-top: -1.5em;
    font-size: 12px;
    font-style: italic;
}
button {
    color: black;
    border-radius: 10px;
    background: #FCA311;
    width: fit-content;
    padding: 10px 64px;
    font-weight: 700;
    font-size: 20px;
}
button:hover {
    transition: 500ms ease all;
    box-shadow: 0px 2px 12px rgba(137, 21, 21, 0.6);
}
button:active {
    background: #DE9721;
}

/* footer */
footer {
    background: white;
    padding: 3em;
}
footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

footer h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 1em 0;
}
footer li {
    list-style-type: none;
    line-height: 25px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer .rights {
    text-align: center;
}
footer .social-links {
    display: flex;
}
footer .social-links img{
    width: 24px;
    height: 24px;
    margin-right: 1em;
}
footer .phone {
    display: flex;
    margin: 2em 0;
}


@media (min-width: 768px) {
    footer section {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        text-align: left;
        width: 80%;
        margin: auto;
            flex-basis: 100%;
    }
    footer section div:first-child p {
        width: 16em;
        margin: 2em 0;
        line-height: 28px;
    }
    footer h4 {
        font-size: 20px;
        font-weight: 600;
        margin: 1em 0;
    }
    footer li {
        list-style-type: none;
        line-height: 36px;
    }
    footer .rights {
        width: 80%;
        text-align: left;
        margin: 2em auto;
    }
    footer .social-links img{
        width: 24px;
        height: 24px;
        
    }
}