*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* SIGN-IN STYLES */
.top-container {
  background-color: #010210;
  position: relative;
  height: 30.813rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .logo-container {
  width: 100%; 
  height: 1.6rem;
} */

.top-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 23px;
  height: 29px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  position: relative;
  color: #ffffff;
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-content h2 {
  margin: 28px 0;
}

.login-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 231px;
  height: 26px;
}

/* .sign-in-area {
  display: inline-flex;
  flex-direction: column;
  padding: 8px 24px;
  gap: 10px;
} */

.sign-in-email,
input[type="password"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  width: 23.5rem;
  height: 2.5rem;
  left: 27px;
  top: 311px;
  border: 1px solid #8a8989;
  border-radius: 8px;
  background: transparent;
  color: #8a8989;
  caret-color: #8a8989;
}

input:hover,
input:focus {
  border: 1px solid #40dee8;
}

input::placeholder {
  color: rgba(229, 229, 229, 0.7);
}

.sign-in-area button {
  color: #010210;
  width: 130.94px;
  height: 38.34px;
  font-style: normal;
  font-weight: 700;
  font-size: 18.874px;
  line-height: 22px;
  background: #fca311;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  border: none;
  box-shadow: 0px 4px 12px rgba(137, 21, 21, 0.61);
}

button:active {
  background: #de9721;
  box-shadow: 0px 4px 12px rgba(137, 21, 21, 0.61);
}

button:disabled {
  background: #fdd188;
}

.forgot-password {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fca311;
}

/* END OF SIGN-IN STYLES */

/* DASHBOARD STYLES */

.header-for-desktop {
  display: none;
}
.header-for-mobile .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  background: #191925;
}
.header-for-mobile .search-fields {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background: #010210;
}
.header-for-mobile .search-fields input,
select {
  border-top: 4px solid #fca311;
  border-right: 8px solid #fca311;
  border-bottom: 4px solid #fca311;
  border-left: 8px solid #fca311;
  border-radius: 8px;
  width: 100%;
  padding: 0.6em;
  margin-left: 12px;
}
.notification-panel {
  display: flex;
}
.notification-panel * + * {
  padding-left: 12px;
}
.logo {
  width: 38px;
}
nav {
  color: white;
  position: absolute;
  top: 0;
  right: 100vw;
  width: 100%;
  height: 100vh;
  background-color: #01010b;
  padding: 2.5em 0 0 3em;
  transition: 500ms ease-in-out all;
}
nav.active {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #01010b;
  padding: 5em 0 0 4em;
  right: 0vw;
}
nav h4 {
  margin: 1em 0;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  text-decoration: none;
}
nav li {
  list-style: none;
  line-height: 40px;
  margin: 0.4em 0;
}
nav li a img {
  margin-right: 16px;
}
nav li:focus,
nav li:active,
nav li:hover {
  filter: invert(64%) sepia(44%) saturate(1066%) hue-rotate(351deg)
    brightness(102%) contrast(98%);
  border-right: 10px solid #1d3f4b;
}
nav #close-icon {
  position: absolute;
  top: 3.5em;
  right: 3em;
  width: 40px;
}
.dashboard-main {
  padding: 2em;
  background-color: #010210;
}
.gallery {
  display: flex;
  gap: 24px;
  overflow-x: scroll;
}
.movie {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
section h1 {
  font-size: 2em;
  color: white;
  margin: 0.5em 0;
}
.video-description {
  padding: 1em;
  background-color: white;
}
.video-description * + * {
  margin-top: 0.3em;
}
.ratings {
  margin: 0.3em 0;
}
.ratings * + * {
  margin-left: 0.3em;
}

/* custom scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #01010b;
  height: 8px;
  width: 12px;
  margin: 1em 0;
}
::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background-color:rgba(229, 229, 229, 0.7);
  border-radius: 8px;
  border: 1px solid rgb(86, 87, 91);
}

/* END OF DASHBOARD STYLE */


/* FORGOT PASSWORD STYLES */


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 40em;
  margin: auto;
  text-align: left;
  color: white;
}
h1 {
  font-weight: 400;
  margin: 13px 0;
}
form {
  display: flex;
  flex-direction: column;
}
.forgot-password-form input {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  padding: 18px;
  margin: 24px 0;
  color: white;
}

/* Hide the default checkbox */
input[type=checkbox] {
  visibility: hidden;
}

/* Creating a custom checkbox */
.checkbox-container {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.checkbox {
  height: 25px;
  width: 25px;
  background-color: #010210;
  border: 2px solid white;
  border-radius: 4px;
  margin-right: 12px;
}

/* Specify the background color to be
shown when checkbox is checked */
.checkbox-container input:checked ~ .checkbox {
  background-color: #010210;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.checkbox-container input:checked ~ .checkbox:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.checkbox-container .checkbox:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


form small {
  margin-top: -1.5em;
  font-size: 12px;
  font-style: italic;
}
.forgot-password-form button {
  color: black;
  border-radius: 10px;
  background: #FCA311;
  width: fit-content;
  padding: 10px 64px;
  font-weight: 700;
  font-size: 20px;
  border: none;
}


/* END OF FORGOT PASSWORD STYLES */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 100%;
  height: 47.625rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #010210;
  text-align: center;
  padding: 32px 90px 25px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 248px;
  height: 633px;
}

footer p {
  display: inline-block;
  margin: 0;
}

.footer-description {
  text-align: center;
}

.footer-desc-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer-site-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-headings {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  font-style: normal;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.footer-link:hover {
  color: #fca311;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 172px;
  height: 7.563rem;
}

.socials-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.footer-phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

/* Media query for tablets/iPads */
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    gap: 100px;
    padding-left: 90px;
  }
}

/* Media query for Laptops and Desktops */
@media (min-width: 1025px) {
  /* SIGN-IN STYLES */
  .top-container {
    height: 100vh;
  }

  .top-logo {
    position: absolute;
    width: 92px;
    height: 115px;
    left: 70px;
    top: 40px;
  }

  .login-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    width: 336px;
    height: 38px;
  }

  .sign-in-email,
  input[type="password"] {
    width: 755px;
    height: 96px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  input::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .sign-in-area button {
    width: 222px;
    height: 65px;
  }

  .forgot-password {
    text-decoration: underline;
  }

  /* END OF SIGN-IN STYLES */


  /* DASHBOARD STYLES */

  .header-for-mobile {
    display: none;
  }
  .header-for-desktop {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #01010b;
    box-shadow: 0px -20px 21px 20px rgb(255 255 255 / 18%);
  }
  .header-for-desktop .search-fields {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .header-for-desktop .search-fields input,
  select {
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 8px;
    width: 30%;
    max-width: 260px;
    padding: 0.6em;
  }

  .search-fields input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #8a8989;
  }

  .main-wrapper {
    height: 1504px;
  }

  nav {
    top: unset;
    left: 0;
    width: 280px;
    height: 1424px;
    max-width: 300px;
    margin-top: 5em;
    padding: 1em 0 0 2.3em;
    transition: 0ms ease-in-out all;
  }
  nav h4 {
    margin: 1em 0;
  }
  nav a {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    text-decoration: none;
  }
  nav li {
    list-style: none;
    line-height: 45px;
  }
  nav li a img {
    margin-right: 16px;
  }
  nav li:focus,
  nav li:active,
  nav li:hover {
    filter: invert(64%) sepia(44%) saturate(1066%) hue-rotate(351deg)
      brightness(102%) contrast(98%);
    border-right: 10px solid #1d3f4b;
  }
  nav #close-icon {
    display: none;
  }
  .dashboard-main {
    margin-left: 280px;
    padding-top: 5.5em;
    height: 1504px;
  }

  /* END OF DASHBOARD STYLES */

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 25.25rem;
    width: 100%;
    text-align: left;
    padding: 39px 190px 33px 75px;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    column-gap: 234px;
    height: 20.75rem;
    width: 81.61%;
    align-items: start;
  }

  .footer-description {
    width: 279px;
    text-align: left;
  }

  .footer-desc-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  .footer-site-map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 185px;
    text-align: left;
  }

  .footer-headings {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }

  .footer-list {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: #000000;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 244px;
  }

  .footer-phone p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }

  #rights {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 215px;
  }
}
