@import url(./style.css);
*{
   margin: 0;
   padding: 0;
   text-decoration: none; 
}

ul, ol{
    margin: 0;
    list-style: none;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif;
}
/* Header styles */
.library--header{
    background-color: #181925;
    padding: 20px 25px 15px 25px;
}

.library.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifications{
    display: none;
}

.searchIcon{
    display: none;
}

.library.searchCategory{
    display: none;
}

/* Main styles */

.library.main{
    padding: 19px 16px;
    background: #010210;
    display: flex;
    flex-direction: column;
}

.library.sideBar{
    display: none;
}

.library.dropSearchCategory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
    margin-top: 19px;
}

.mobileBar{
    position: absolute;
    top: 170px;
    left: -100%;
    padding-left: 20px;
    background: #000;
    width: 100vw;
    height: 100vh;
    transition: all ease-in 0.3s;
    z-index: 99;
}

.mobileBar.active{
    left: 0;
}

.mobileBarLink{
    color: white;
}

.mobileBarList{
    display: flex;
    gap: 18px;
    margin-bottom: 19px;
}

.mobileBarList p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.library.search, .library.category{
    padding: 5px 8px;
    background: #FCA311;
    border-radius: 10px;
    width: 43%;
}

.library.searchWrap, .library.categoryWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding-right: 7.6px;
    width: 100%;
}

.library.search svg, .library.category svg{
    min-width: 12.5px;
}

.library.search input, .library.category input{
    width: 80%;
    padding: 7.8px 8px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #000;
}

.library.completedMovies, .library.continueWatching{
    color: #fff;
}

.library.completedMovies--top, .library.continueWatching--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.library.completedMovies--left, .library.completedMovies--right, .library.continueWatching--left, .library.continueWatching--right{
    display: flex;
    align-items: center;
}

.library.completedMovies--left, .library.continueWatching--left{
    gap: 12.29px;
}

.library.completedMovies--left p, .library.continueWatching--left p{
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.library.completedMovies--right, .library.continueWatching--right{
    gap: 6.5px;
    padding-right: 33.25px;
}

.library.arrowCircle{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 17.5px;
    height: 17.5px;
}

.library.completedMovies--bottom, .library.continueWatching--bottom{
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 8px;
    align-items: center;
    width: 100%;
    /* justify-items: center; */
}

.library.continueWatching--bottom{
    margin-bottom: 52px;
}

#slides-container, #slides-container1{
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide, .slide1{
    flex: 1 0 25%;
}

.library.moviesBox{
    width: 25%;
}

.library.moviesImg{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.library.moviesImg progress[value]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
}

.library.moviesImg progress[value]::-webkit-progress-bar{
    background: #eee;
}

.library.moviesImg progress[value]::-webkit-progress-value{
    background-color: red;
}

.library.moviesImgWrap{
    width: 100%;
    position: relative;
}

.library.moviesImgWrap img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.library.movieLength{
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 0 2px;
    background: #000;
    color: #fff;
    font-size: 6px;
    line-height: 7px;
    font-weight: 500;
}

.library.movieDetails{
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.library.movieTitle{
    font-weight: 500;
    font-size: 6px;
    line-height: 7px;
    color: #01010b;
    margin-bottom: 5.87px;
}

.library.movieRating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.67px;
    margin-bottom: 5.87px;
}

.library.movieCreator{
    font-weight: 600;
    font-size: 6px;
    line-height: 7px;
    color: #01010b;
    margin-bottom: 2px;
}

.library.movieViews{
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;
    color: #01010b;
    display: flex;
    align-items: center;
    gap: 2px;
}

.library.line{
    width: 100%;
    height: 1.5px;
    background: #E5E5E5;
    margin-top: 32px;
    margin-bottom: 24px;
}

@media screen and (min-width: 1000px) {
    .library--header{
        background: #01010b;
        box-shadow: 0px 1px 21px rgba(229, 229, 229, 0.15);
    }

    .library.searchCategory{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .notifications{
        display: block;
    }
    
    .searchIcon{
        display: block;
    }

    .library.header.search, .library.header.category{
        background: transparent;
        border: 1px solid #fff;
    }

    .library.header.searchWrap, .library.header.categoryWrap{
        background: transparent;
    }

    .library.header.searchWrap input, .library.header.categoryWrap input{
        background: transparent;
        font-size: 20px;
    }

    .library.icons{
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .library.dropSearchCategory{
        display: none;
    }

    .library.sideBar{
        display: block;
        width: 20%;
        padding-top: 32px;
        padding-left: 36px;
    }

    .sideBarHeading{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .library.sideBar{
        padding-left: 10px;
    }

    .library.sideBar.active {
        display: block;
        width: 3%;
        padding-top: 32px;
        padding-left: 0;
    }

    .library.sideBar.active .sideBarHeadingListP.active{
        display: none;
    }

    .library.sideBar.active .sideBarHeadingList.comp{
        display: none;
    }

    .library.main{
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }

    .moviesSection{
        width: 80%;
    }

    .moviesSection.active{
        width: 97%;
    }

    .sideBarHeading{
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }

    .sideBarHeadingLink{
        color: white;
    }

    .sideBarHeadingList{
        display: flex;
        gap: 18px;
        margin-bottom: 19px;
    }

    .comp{
        padding-left: 10px;
    }

    .sideBarHeadingList p{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .lib{
        border-right: 4px solid #FCA311;
    }

    .lib p{
        color: #FCA311;
    }

    .library.completedMovies, .library.continueWatching{
        padding: 16px;
    }

    .library.completedMovies--left p, .library.continueWatching--left p{
        font-size: 24px;
        line-height: 24px;
    }

    .library.completedMovies--top, .library.continueWatching--top{
        margin-bottom: 23px;
    }

    .library.arrowCircle{
        width: 21px;
        height: 21px;
    }

    .library.completedMovies--bottom, .library.continueWatching--bottom{
        gap: 16px;
    }

    .library.moviesImg progress[value]{
        height: 6px;
    }

    .library.movieTitle{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-top: 16px;
    }

    .library.movieRating{
        width: 55%;
        gap: 16.67px;
        margin-bottom: 17px;
    }

    .library.movieCreator{
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }

    .library.movieViews{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        gap: 4px;
    }

    .library.movieViews svg{
        width: 4px;
        height: 4px;
    }
}