* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  body {
    background-color: #010201;
    font-family: "Raleway", sans-serif;
    height: fit-content;
  }
  main {
    height: 400px;
  }
  
  form {
    width: 470px;
    height: 380px;
    margin: 2% auto;
    position: relative;
  }
  form .content {
    width: 400px;
    position: absolute;
    top: 10px;
    left: 80px;
    transition: 0.5s;
  }
  button {
    background-color: #fca311;
  }
  footer {
    background-color: #e5e5e5;
    padding: 10px;
    width: 100%;
    margin-top: 60px;
  }
  .container {
    display: flex;
    justify-content: space-around;
  }
  ul {
    list-style: none;
  }
  li {
    padding: 2px;
  }
  a {
    text-decoration: none;
    color: #010201;
  }
  a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  .userInput {
    display: flex;
    justify-content: center;
  }
  .OtpInput {
    margin: 8px;
    height: 35px;
    width: 50px;
    border-style: ridge;
    border-radius: 5px;
    text-align: center;
    background-color: #010201;
    color: #e5e5e5;
  }
  
  p {
    color: #d4cece;
    margin-top: 5px;
  }
  h4 {
    color: #fca311;
  }
  strong {
    color: #fca311;
  }
  strong:hover {
    text-decoration: underline;
  }
  .btn {
    background-color: #fca311;
    color: #e5e5e5;
    padding: 12px 25px;
    border-radius: 5px;
    margin-right: 130px;
    opacity: 0.8;
  }
  .btn:hover {
    cursor: pointer;
    opacity: 1;
  }
  .input {
    background-color: #010201;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: outset;
    color: #e5e5e5;
    padding: 13px 50px;
  }
  
  .checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #e5e5e5;
  }
  .boxInput {
    display: none;
  }
  .Box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #d4cece;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    flex-shrink: 0;
  }
  .Box::after {
    content: "\2714";
    color: #010201;
  }
  .boxInput:checked + .Box {
    background-color: #e5e5e5;
  }
  
  .step-row {
    height: 20px;
    display: flex;
    align-items: center;
  }
  .step-col {
    width: 50px;
    height: 5px;
    margin-right: 8px;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  #error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    display: none;
  }
  #error1 {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    display: none;
  }
  #error2 {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    display: none;
  }
  
  .count-digit {
    color: #ffffff;
    font-size: 15px;
    display: inline-flex;
  }
  
  .separator {
    color: #ffffff;
    font-size: 15px;
  }
  
  @media screen and (max-width: 375px) {
    .container {
      width: 100%;
    }
    form {
      width: 100%;
    }
    form .content {
      left: 4px;
      width: 100%;
    }
    .OtpInput {
      width: 30px;
    }
  
    .step-col {
      left: 40px;
    }
  }