* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  body {
    background-color: #010201;
    font-family: "Raleway", sans-serif;
    height: fit-content;
  }
  main {
    height: 400px;
  }
  
  form {
    width: 470px;
    height: 380px;
    margin: 2% auto;
    position: relative;
  }
  form .content {
    width: 400px;
    position: absolute;
    top: 10px;
    left: 60px;
  }
  button {
    background-color: #fca311;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 100%;
   /* height: 47.625rem;*/
    font-weight: 500;
    font-size: 16px;
    /*line-height: 32px;*/
    background-color: #e5e5e5;
    color: #010210;
    text-align: center;
    padding: 32px 90px 25px;
    bottom: 0;
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 248px;
    /*height: 633px;*/
  }
  
  footer p {
    display: inline-block;
    margin: 0;
    color: #010201;
  }
  
  .footer-description {
    text-align: center;
  }
  
  .footer-desc-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .footer-site-map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-headings {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-style: normal;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-link {
    text-decoration: none;
    color: inherit;
  }
  
  .footer-link:hover{
    color: #FCA311;
  }
  
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 172px;
    /*height: 7.563rem;*/
  }
  
  .socials-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
  }
  
  .footer-phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
  }
  
  ul {
    list-style: none;
  }
  li {
    padding: 2px;
  }
  a {
    text-decoration: none;
    color: #010201;
  }
  a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  .userInput {
    display: flex;
    justify-content: center;
  }
  .OtpInput {
    margin: 8px;
    height: 35px;
    width: 50px;
    border-style: ridge;
    border-radius: 5px;
    text-align: center;
    background-color: #010201;
    color: #e5e5e5;
  }
  
  p {
    color: #d4cece;
    margin-top: 5px;
  }
  h4 {
    color: #fca311;
  }
  strong {
    color: #fca311;
  }
  strong:hover {
    text-decoration: underline;
  }
  .btn {
    background-color: #fca311;
    color: #e5e5e5;
    padding: 12px 25px;
    border-radius: 5px;
    margin-right: 130px;
    opacity: 0.8;
  }
  .btn:hover {
    cursor: pointer;
    opacity: 1;
  }
  .input {
    background-color: #010201;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: outset;
    color: #e5e5e5;
    padding: 13px 50px;
  }
  
  .checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #e5e5e5;
  }
  .boxInput {
    display: none;
  }
  .Box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #d4cece;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    flex-shrink: 0;
  }
  .Box::after {
    content: "\2714";
    color: #010201;
  }
  .boxInput:checked + .Box {
    background-color: #e5e5e5;
  }
  
  .step-row {
    height: 20px;
    display: flex;
    align-items: center;
  }
  .step-col {
    width: 50px;
    height: 5px;
    margin-right: 8px;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  #error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    display: none;
  }
  #error1 {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    display: none;
  }
  #error2 {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    display: none;
  }
  
  .count-digit {
    color: #ffffff;
    font-size: 15px;
    display: inline-flex;
  }
  
  .separator {
    color: #ffffff;
    font-size: 15px;
  }

  /* following page designs*/
.following_header{
  background-color: #181925;
  display: flex;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
 
}

.logo, .profile{
  margin-top: 10px;
}
.btn_group{
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 20px;
}
.btn_group button{
    padding: 10px 30px;
    border-radius: 5px;
}
.btn_group .followers_btn{
  background-color: #010201;
  color: #e5e5e5;
  border-color: #e5e5e5;

}
.btn_group .following_btn{
  color: #010201;
  border-color: #fca311;
}
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 70px;
  border-radius: 50%;
 
}
.people{
  position: relative;
}
.profile{
  margin-left: 250px;
}
.inner {
  background-color: #010201;
  border: 1px solid #fca311;
  color: #fca311;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  right: 50px;
}
#following{
  margin-top: 20px;
  margin-left: 10px;
  display: grid;
  height: auto;
position: relative;
  grid-template: auto  / auto auto auto;
  overflow-wrap: normal;
}
#main{
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown.search{
  width: 200px;
}
.dropdown_top, .search_top{
  display: none;
}
.hide{
  display: none;
}

.btn.categories{
  opacity: 1;
  height: 40px;
}
.search{
  width: 150px;
  height: 50px;
  background-color: #fca311;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  border-radius: 15px;
  display: flex;
  position: relative;
}
.ico{
  position: absolute;
  left: 100px;
  bottom: 15px;
}
.search>i{
  font-size: 18px;

}
.search>input{
  width: 70%;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  
}

.top{
  display: flex;
  gap: 10px;
}
.form-select{
  width: 80%;
  height: 40px;
}
.sidenav{
  display: none;
}



  
  @media screen and (max-width: 375px) {
    .container {
      width: 100%;
    }
    form {
      width: 100%;
    }
    p {
      width: 100%;
    }
    form .content {
      width: 100%;
      left: 4px;
    }
    .OtpInput {
      width: 30px;
    }
  
    .step-col {
      left: 40px;
    }
  }

  /* Media query for tablets/iPads */
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    gap: 100px;
    padding-left: 90px;
  }
   .btn_group{
     justify-content: center;
     display: flex;
     width: 100%;
     gap: 30px;
   }
   .btn_group button{
     padding: 15px 50px;
     border-radius: 5px;
 }
 .inner {
   bottom: 40px;
   right: 55px;
 }
 
 #following{
   grid-template: auto / auto auto auto auto;
   width: 700px;
   text-align: center;
   background-color: #080813;
   margin-left: 20px;
   overflow-y: scroll;
   
   
 }
 
 .top{
   display: none;
 }
 .dropdown_top, .search_top{
   display: block;
 }
 
 .form-select{
   width: 200px;
   height: 30px;
   margin-top: 30px;
   background-color: #010210;
   color: #e5e5e5;
   opacity: 0.8;
   border-radius: 5px;
   margin-left: 50;
   
 }
 
 .search_input{
   height: 30px;
   margin-top: 30px;
   padding: 10px;
   width: 180px;
   margin-left: 80px;
   background-color: #010210;
   color: #e5e5e5;
   opacity: 0.8;
   border: 1px solid #e5e5e5;
   border-radius: 5px;
 }
 .search_input::placeholder{
   color: #e5e5e5;
 }
 
 .following_header{
   background-color: #010201;
   gap: 10px;
 }
 .body{
   background-color: #080813;
   
 }
 #main{
   background-color: #080813;
   display: flex;
   width: 100%;
   height: auto;
 }
 .sidenav{
   display: block;
   width: 20%;
   align-content: center;
   text-align: center;
   background-color: #010201;
   color: #e5e5e5;
 }
 .sidenav a{
   color: #e5e5e5;
 }
 
 body{
  overflow: hidden;
 }
 .profile .avatar{
   width: 40px;
   height: 40px;
   margin-left: 10px;
 }
 .hide{
   display: flex;
   margin-top: 30px;
   gap: 10px;
   margin-left: 50px;
 }
}

/* Media query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
   /* height: 27.25rem;*/
    width: 100%;
    text-align: left;
    padding: 15px 90px 3px 35px;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    column-gap: 150px;
    /*height: 20.75rem;*/
    width: 81.61%;
    align-items: start;
  }

  .footer-description {
    width: 279px;
    text-align: left;
  }

  .footer-desc-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  .footer-site-map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 185px;
    text-align: left;
  }

  .footer-headings {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }

  .footer-list {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .footer-phone p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }

  #rights {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 215px;
  }

  .following_header{
   gap: 0;
  }
  .btn_group{
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 30px;
  }
  .btn_group button{
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 20px;
}
.inner {
  bottom: 20px;
  right: 55px;
}

#following{
  grid-template: auto / auto auto auto auto auto;
  width: 900px;
  text-align: center;
  background-color: #080813;
  margin-left: 20px;
  overflow-y: scroll;
  
}

.top{
  display: none;
}
.dropdown_top, .search_top{
  display: block;
}

.form-select{
  width: 200px;
  height: 30px;
  margin-top: 30px;
  background-color: #010210;
  color: #e5e5e5;
  opacity: 0.8;
  border-radius: 5px;
}

.search_input{
  height: 30px;
  margin-top: 30px;
  padding: 10px;
  width: 180px;
  margin-left: 300px;
  background-color: #010210;
  color: #e5e5e5;
  opacity: 0.8;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.search_input::placeholder{
  color: #e5e5e5;
}

.following_header{
  background-color: #010201;
  gap: 10px;
  padding: 10px;
}
.body{
  background-color: #080813;
  
}
#main{
  background-color: #080813;
  display: flex;
  
}
.sidenav{
  display: block;
  width: 20%;
  align-content: center;
  text-align: center;
  background-color: #010201;
  color: #e5e5e5;
}
.sidenav a{
  color: #e5e5e5;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 5px;
  box-shadow: inset 0 0 10px #010210;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #fca311;
}
.profile .avatar{
  width: 40px;
  height: 40px;
}
.hide{
  display: flex;
  margin-top: 25px;
  gap: 10px;
  margin-left: 150px;
}


}
