{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=!, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans" />
    <link rel="icon" type="images/png" href="/static/logo.png" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap" rel="stylesheet" />
    <script src="{% static 'index.js' %}"></script>
    <title>Sign Up</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/desktop-logo.png" alt="logo" />
        </div>
    </header>
    {% if access_error %}
    <h1 style="color: red;">{{access_error}}</h1>
    {% else %}
    <main>
        <form method="post" id="form">
            {%csrf_token%}
            <div class="content" id="step3">
                <h4>Step 3 of 3</h4>
                <br />
                <div class="step-row">
                    <div class="step-col" style="background-color: #e5e5e5;"></div>
                    <div class="step-col"  style="background-color: #e5e5e5;"></div>
                    <div class="step-col"  style="background-color: #fca311;"></div>
                </div>
                <h4>Create password</h4><br>
                <input type="text" name="username" placeholder="Choose Username" class="input"><br>
                <br><input type="password" placeholder="Input password" id="password" name="password1" class="input"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                <input type="hidden" name="reg" value="{{data}}">

                <div id="error1">This field is required</div>
                <br />
                <p style="font-style: italic">
                    Note:
                    <small>password must be at least 8 alphabet long and must contain at
                        least one upperCase, and number (e.g:'OneCube111')</small>
                </p>
                <input type="password" placeholder="Confirm password" name="password2" id="password2" class="input" /><br />
                <div id="error2">This field is required</div>
                <br />
                {%if success%}
                <h1 style="color: white;">{{success}}</h1>
                {%endif%}
                {%if password_error%}
                <h1 style="color: white;">{{password_error}}</h1>
                {%endif%}
                <br>
                <button class="btn" type="submit" onclick="checkInput()">
                    Sign Up
                </button>
        </form>
    </main>
    {%endif%}
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-description">
                <img class="footer-logo" src="/static/desktop-footer-logo.png" alt="one-cube logo" srcset="/static/mobile-footer-logo.png 77w,
                        /static/desktop-footer-logo.png 95w" sizes="(min-width: 1025px) 95px,
                        77px">
    
                <p class="footer-desc-text">Your one stop streaming platform for short college films by college students
                </p>
            </div>
    
            <div class="footer-site-map">
                <h2 class="footer-headings">Site Map</h2>
                <ul class="footer-list">
                    <li>
                        <a href="{%url 'home'%}" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Privacy Policies</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Registration</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">About Us </a>
                    </li>
                    <li>
                        <a href="{%url 'terms'%}" class="footer-link">Terms of Use</a>
                    </li>
                </ul>
            </div>
    
            <div class="footer-contact">
                <h2 class="footer-headings">Contact us</h2>
                <div class="socials-icon">
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-insta.png'%}" alt="instagram-icon" srcset="{%static 'desktop-insta.png'%} 31.47w,
                        {%static 'insta.png' %} 19.67w" sizes="(min-width: 1025px) 31.47px,
                        19.67px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-twitter.png' %}" alt="twitter-icon" srcset="{%static 'desktop-twitter.png'%} 35.83w,
                        {%static 'twitter.png'%} 22.4w" sizes="(min-width: 1025px) 35.83px,
                        22.4px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-fb.png'%}" alt="fb-icon" srcset="{%static 'desktop-fb.png'%} 19w,
                        {%static 'fb.png'%} 11.88w" sizes="(min-width: 1025px) 19px,
                        11.88px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-mail.png'%}" alt="mail-icon" srcset="{%static 'desktop-mail.png'%} 31.3w,
                        {%static 'mail.png'%} 19.56w" sizes="(min-width: 1025px) 31.3px,
                        19.56px">
                    </a>
                </div>
                <div class="footer-phone">
                    <img src="{%static 'desktop-phone.png' %}" alt="phone-icon" srcset="{%static 'desktop-phone.png' %} 29.19w,
                        {%static 'phone.png'%} 18.24w" sizes="(min-width: 1025px) 29.19px,
                        18.24px">

                    <p>+2348116455541</p>
                </div>
            </div>
            </div>
            <p id="rights">All Rights Reserved</p>
        </div>
    </footer>

    <script>
        // input validation
        const password = document.getElementById("password");
        const password2 = document.getElementById("password2");

       

        function checkInput() {
            const passwordValue = password.value.trim();
            const password2Value = password2.value.trim();

            if (passwordValue === "") {
                document.getElementById("password").style.borderColor = "red";
                document.querySelector("#error1").style.display = "block";
            } else if (passwordValue.length < 8) {
                document.getElementById("password").style.borderColor = "red";
                document.querySelector("#error1").style.display = "block";
                document.querySelector("#error1").innerHTML =
                    "Password must be at least 8 character.";
            } else {
                document.querySelector("#error1").style.display = "none";
                document.getElementById("password").style.borderColor =
                    "rgb(99, 221, 255)";
            }

            if (password2Value === "") {
                document.getElementById("password2").style.borderColor = "red";
                document.querySelector("#error2").style.display = "block";
                document.querySelector("#error2").innerHTML =
                    "Please confirm your password";
            } else if (password2Value !== passwordValue) {
                document.getElementById("password2").style.borderColor = "red";
                document.querySelector("#error2").style.display = "block";
                document.querySelector("#error2").innerHTML =
                    "Passwords doesn't match";
            } else {
                document.querySelector("#error1").style.display = "none";
                document.getElementById("password2").style.borderColor =
                    "rgb(99, 221, 255)";
            }
        }
    </script>
</body>

</html>