{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/dashboard.css'%}">
    <title>OneCube Dashboard</title>
</head>
<body>
    <!-- header for desktop -->
    <header class="header-for-desktop">
        <img class="logo" src="{%static 'desktop-logo.png'%}" alt="">
        <div class="search-fields">
            <input type="search" name="" id="" placeholder="Search">
            <select name="categories" id="">
                <option value="Movies">Categories</option>
            </select>
        </div>
        <div class="notification-panel">
            <img src="{%static 'notification-icon.svg'%}" alt="">
            <img src="{%static 'profile-photo.svg'%}" alt="">
        </div>
    </header>
    <!-- header for mobile -->
    <header class="header-for-mobile">
        <div class="top-header">
            <img class="logo" src="{%static 'desktop-logo.png'%}" alt="">
            <div class="notification-panel">
                <img src="{%static 'notification-icon.svg'%}" alt="">
                <img src="{%static 'profile-photo.svg'%}" alt="">
            </div>
        </div>
        
        <div class="search-fields">
            <img id="hamburger" src="{%static 'hamburger-icon.svg'%}" alt="">
            <input type="search" name="" id="">
            <select name="categories" id="">
                <option value="Movies">Categories</option>
            </select>
        </div>
    </header>
    <!-- menu -->
    <nav id="menu">
        <h4 >Menu</h4>
        <ul>
            <li class="menu-items"><a href="{%url 'dashboard' user.id%}"><img src="{%static 'home-icon.svg'%}" alt=""> Home</a></li>
            <li class="menu-items"><a href="{%url 'library'%}"><img src="{%static 'library-icon.svg'%}" alt=""> Library</a></li>
            <li class="menu-items"><a href=""><img src="{%static 'new-release-icon.svg'%}" alt=""> New Release</a></li>
            <li class="menu-items"><a href=""><img src="{%static 'settings-icon.svg'%}" alt=""> Settings</a></li>
            <li class="menu-items"><a href="{%url 'user_logout'%}"><img src="{%static 'logout-icon.svg'%}" alt=""> Log out</a></li>
        </ul>
        <img id="close-icon" src="images/close.svg" alt="">
    </nav>
    <main>
        <section>
            <h1>New Release</h1>
            <div class="gallery">
              {%for film in film%}
                <div class="movie">
                  <a href="{%url 'detail' film.id%}">
                  <video width="100%" poster="{{film.thumbnail.url}}">
                    <source src ="{{film.movie.url}}" type="video/mp4">
                  </video></a>
                    <div class="video-description">
                        <h4 class="movie-title">{{film.title}}</h4>
                        <div class="ratings">
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                        </div>
                        <span class="category">{{film.author}}</span>
                        <div>
                            <span class="views">15 views</span>
                            •
                            <span class="date-uploaded">{{film.upload_date}}</span>
                        </div> 
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
        <section>
            <h1>Featured Movies</h1>
            <div class="gallery">
              {%for film in film%}

              <div class="movie">
                <a href="{%url 'detail' film.id%}">
                <video width="100%" poster="{{film.thumbnail.url}}">
                  <source src ="{{film.movie.url}}" type="video/mp4">
                </video></a>
                  <div class="video-description">
                      <h4 class="movie-title">{{film.title}}</h4>
                      <div class="ratings">
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                      </div>
                      <span class="category">{{film.author}}</span>
                      <div>
                          <span class="views">15 views</span>
                          •
                          <span class="date-uploaded">{{film.upload_date}}</span>
                      </div> 
                  </div>
              </div>
              {%endfor%}
            </div>
        </section>
        <section>
            <h1>Top Category</h1>
            <div class="gallery">
              {%for film in film%}
              <div class="movie">
                <a href="{%url 'detail' film.id%}">
                <video width="100%" poster="{{film.thumbnail.url}}">
                  <source src ="{{film.movie.url}}" type="video/mp4">
                </video></a>
                  <div class="video-description">
                      <h4 class="movie-title">{{film.title}}</h4>
                      <div class="ratings">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                      </div>
                      <span class="category">{{film.author}}</span>
                      <div>
                          <span class="views">15 views</span>
                          •
                          <span class="date-uploaded">{{film.upload_date}}</span>
                      </div> 
                  </div>
              </div>
              {%endfor%}
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="{%static 'desktop-footer-logo.png'%}" alt="">
                <p>Your one stop streaming platform for short college films by college students</p>
            </div>
            <div class="site-map">
                <h4>Site Map</h4>
                <ul>
                    <li><a href="">Home</a> </li>
                    <li><a href="">FAQ</a> </li>
                    <li><a href="">Privacy Policies</a> </li>
                    <li><a href="">Registration</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Terms of use</a></li>
                </ul>
            </div>
            <div class="contact">
                <h4>Contact us</h4>
                <div class="social-links">
                    <img src="{%static 'desktop-insta.png'%}" alt="">
                    <img src="{%static 'desktop-twitter.png'%}" alt="">
                    <img src="{%static 'desktop-fb.png'%}" alt="">
                    <img src="{%static 'desktop-mail.png'%}" alt="">
                </div>
                <div class="phone">
                    <img src="images/desktop-phone.png" alt="">
                    <p>+2348116455541</p>
                </div>
            </div>
        </section>
        <p class="rights">All Rights Reserved</p>
    </footer>
    <script src="{%static 'script/index.js'%}"></script>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{%static 'css/library.css' %}">
  <title>Onecube</title>

</head>
<body>
  <header class="dashboard-header">
    <div class="dashboard-logo-wrapper">
      <img src="images/dashboard-logo.png" alt="OneCube logo" class="dashboard-logo">
    </div>
    <div class="dashboard-input">
      <input type="search" name="video-search">
      <input type="text">
    </div>
    <div class="dashboard-icons">
      <svg class="bell-icon" width="22" height="27" viewBox="0 0 22 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12.3334 2.00008C12.3334 1.2637 11.7365 0.666748 11.0001 0.666748C10.2637 0.666748 9.66675 1.2637 9.66675 2.00008V3.00008H8.92352C5.95676 3.00008 3.5013 5.30676 3.3161 8.26774L3.02143 12.979C2.90909 14.7753 2.30603 16.5063 1.27795 17.9835C0.349044 19.3183 1.176 21.1617 2.79058 21.3554L7.33342 21.9006V23.3334C7.33342 25.3585 8.97504 27.0001 11.0001 27.0001C13.0251 27.0001 14.6667 25.3585 14.6667 23.3334V21.9006L19.2096 21.3554C20.8242 21.1617 21.6511 19.3183 20.7222 17.9835C19.6941 16.5063 19.0911 14.7753 18.9787 12.979L18.684 8.26774C18.4988 5.30677 16.0434 3.00008 13.0766 3.00008H12.3334V2.00008ZM9.33342 23.3334C9.33342 24.2539 10.0796 25.0001 11.0001 25.0001C11.9206 25.0001 12.6667 24.2539 12.6667 23.3334V22.3334H9.33342V23.3334Z"
          fill="#E5E5E5" />
      </svg>

      <img src="" alt="profile-picture" class="profile-picture">
    </div>
  </header>
  {%if user.is_authenticated%}
  <div class="dashboard-top-container">
    <div class="mobile-dashboard-input">
      
      <input type="search" name="video-search">
      <input type="text">
    </div>
    
    {{user.username}}
    <div class="New-release">
      <h2>New Release</h2>
      {%for film in film%}
      <div class="dashboard-thumbnail-wrapper">
        <div class="dashboard-thumbnail">
          <a href=""></a>
          <img src="{%static 'logo.png'%}" width="200" alt="" class="dashboard-thumbnail-image">
          <p>{{film.length}}</p>
          <div class="dashboard-thumbnail-info">
            <h3>{{film.title}}</h3>
            <img src="images/star.png" alt="">
            <h4>{{film.author.last_name}}</h4>
            <p>15 views</p>
            <p>{{film.upload_date}}</p>
            
          </div>
        </div>
        {%endfor%}
    </div>


      <div class="featured-movies">
        <h2>Featured Movies</h2>
        {%for film in film%}
        <div class="dashboard-thumbnail-wrapper">
          <div class="dashboard-thumbnail">
            <img src="{%static 'logo.png'%}" width="200" alt="" class="dashboard-thumbnail-image">
            <p>12:30</p>
            <div class="dashboard-thumbnail-info">
              <h3>{{film.title}}</h3>
              <img src="images/star.png" alt="">
              <h4>{{film.author.last_name}}</h4>
              <p>15 views</p>
              <p>{{film.upload_date}}</p>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>

      <div class="top-category">
        <h2>Top Category</h2>
        {%for film in film%}
        <div class="dashboard-thumbnail-wrapper">
          <div class="dashboard-thumbnail">
            <img src="{%static 'logo.png'%}" width="200" alt="" class="dashboard-thumbnail-image">
            <p>12:30</p>
            <div class="dashboard-thumbnail-info">
              <h3>{{film.title}}</h3>
              <img src="images/star.png" alt="">
              <h4>{{film.author.last_name}}</h4>
              <p>15 views</p>
              <p>{{film.upload_date}}</p>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
    {%else%}
        <h1>You're Not Authorized To Be Here</h1>
        {%endif%}
        <footer>
          <div class="footer-wrapper">
              <div class="footer-description">
                  <img class="footer-logo" src="{%static 'desktop-footer-logo.png'%}" alt="one-cube logo" srcset="{%static 'mobile-footer-logo.png'%} 77w,
                          {%static 'desktop-footer-logo.png'%} 95w" sizes="(min-width: 1025px) 95px,
                          77px">
      
                  <p class="footer-desc-text">Your one stop streaming platform for short college films by college students
                  </p>
              </div>
      
              <div class="footer-site-map">
                  <h2 class="footer-headings">Site Map</h2>
                  <ul class="footer-list">
                      <li>
                          <a href="" class="footer-link">Home</a>
                      </li>
                      <li>
                          <a href="" class="footer-link">FAQ</a>
                      </li>
                      <li>
                          <a href="" class="footer-link">Privacy Policies</a>
                      </li>
                      <li>
                          <a href="" class="footer-link">Registration</a>
                      </li>
                      <li>
                          <a href="" class="footer-link">About Us </a>
                      </li>
                      <li>
                          <a href="" class="footer-link">Terms of Use</a>
                      </li>
                  </ul>
              </div>
      
              <div class="footer-contact">
                  <h2 class="footer-headings">Contact us</h2>
                  <div class="socials-icon">
                      <a href="" class="footer-link">
                          <img src="{%static 'desktop-insta.png'%}" alt="instagram-icon" srcset="{%static 'desktop-insta.png'%} 31.47w,
                          {%static 'insta.png' %} 19.67w" sizes="(min-width: 1025px) 31.47px,
                          19.67px">
                      </a>
                      <a href="" class="footer-link">
                          <img src="{%static 'desktop-twitter.png' %}" alt="twitter-icon" srcset="{%static 'desktop-twitter.png'%} 35.83w,
                          {%static 'twitter.png'%} 22.4w" sizes="(min-width: 1025px) 35.83px,
                          22.4px">
                      </a>
                      <a href="" class="footer-link">
                          <img src="{%static 'desktop-fb.png'%}" alt="fb-icon" srcset="{%static 'desktop-fb.png'%} 19w,
                          {%static 'fb.png'%} 11.88w" sizes="(min-width: 1025px) 19px,
                          11.88px">
                      </a>
                      <a href="" class="footer-link">
                          <img src="{%static 'desktop-mail.png'%}" alt="mail-icon" srcset="{%static 'desktop-mail.png'%} 31.3w,
                          {%static 'mail.png'%} 19.56w" sizes="(min-width: 1025px) 31.3px,
                          19.56px">
                      </a>
                  </div>
                  <div class="footer-phone">
                      <img src="{%static 'desktop-phone.png' %}" alt="phone-icon" srcset="{%static 'desktop-phone.png' %} 29.19w,
                          {%static 'phone.png'%} 18.24w" sizes="(min-width: 1025px) 29.19px,
                          18.24px">
      
                      <p>+2348116455541</p>
                  </div>
              </div>
              <p id="rights">All Rights Reserved</p>
          </div>
      </footer>
    <script src="index.js"></script>
</body>
</html> -->