{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/dashboard.css'%}">
    <link rel="icon" type="images/png" href="{%static 'logo.png'%}" />
    <title>OneCube Dashboard</title>
</head>
<body>
    <!-- header for desktop -->
    <header class="header-for-desktop">
        <img class="logo" src="{%static 'desktop-logo.png'%}" alt="">
        <div class="search-fields">
            <input type="search" name="" id="" placeholder="Search">
            <select name="categories" id="" >
                <option value="Movies">Categories</option>
                {%for cat in cats%}
                <option value="Categories">{{cat}}</option> 
                {%endfor%}
            </select>
        </div>
        <div class="notification-panel">
            <img src="{%static 'notification-icon.svg'%}" alt="">
            <img src="{%static 'Ellipse-13.png'%}" alt="">
        </div>
    </header>
    <!-- header for mobile -->
    <header class="header-for-mobile">
        <div class="top-header">
            <img class="logo" src="{%static 'desktop-logo.png'%}" alt="">
            <div class="notification-panel">
                <img src="{%static 'notification-icon.svg'%}" alt="">
                <img src="{%static 'Ellipse-13.png'%}" alt="">
            </div>
        </div>
        
        <div class="search-fields">
            <img id="hamburger" src="{%static 'hamburger-icon.svg'%}" alt="">
            <input type="search" name="" id="">
            <select name="categories" id="">
                <option value="Movies">Categories</option>
                <option value="Movies">Categories</option>
                {%for cat in cats%}
                <option value="Categories">{{cat}}</option> 
                {%endfor%}
            </select>
        </div>
    </header>
    <!-- menu -->
    <nav id="menu">
        <h4 >Menu</h4>
        <ul>
            <li class="menu-items"><a href="{%url 'dashboard' user.id%}"><img src="{%static 'home-icon.svg'%}" alt=""> Home</a></li>
            <li class="menu-items"><a href="{%url 'library'%}"><img src="{%static 'library-icon.svg'%}" alt=""> Library</a></li>
            <li class="menu-items"><a href="{%url 'add_movie'%}"><img src="{%static 'library-icon.svg'%}" alt=""> Upload</a></li>
            <li class="menu-items"><a href="{%url 'my_videos'%}"><img src="{%static 'library-icon.svg'%}" alt=""> My Uploads</a></li>
            <li class="menu-items"><a href="{%url 'settings'%}"><img src="{%static 'settings-icon.svg'%}" alt=""> Settings</a></li>
            <li class="menu-items"><a href="{%url 'user_logout'%}"><img src="{%static 'logout-icon.svg'%}" alt=""> Log out</a></li>
        </ul>
        <img id="close-icon" src="{%static 'close.svg'%}" alt="">
    </nav>
    <main>
        <section>
            <h1>New Release</h1>
            <div class="gallery">
              {%for film in film%}
                <div class="movie">
                  <a href="{%url 'detail' film.id%}">
                      
                      
                  <video width="100%"  {%if film.thumbnail%} poster="{{film.thumbnail.url}}"{%endif%}>
                      
                    <source src ="{{film.movie.url}}" type="video/mp4">
                  </video></a>
                    <div class="video-description">
                        <h4 class="movie-title">{{film.title}}</h4>
                        <div class="ratings">
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                            <img src="{%static 'star-icon.svg'%}" alt="" >
                        </div>
                        <span class="category">{{film.uploader.username}}</span>
                        <div>
                            <span class="views">15 views</span>
                            •
                            <span class="date-uploaded">{{film.upload_date}}</span>
                        </div> 
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
        <section>
            <h1>Featured Movies</h1>
            <div class="gallery">
              {%for film in film%}

              <div class="movie">
                <a href="{%url 'detail' film.id%}">
                <video width="100%" {%if film.thumbnail%} poster="{{film.thumbnail.url}}" {%endif%}>
                  <source src ="{{film.movie.url}}" type="video/mp4">
                </video></a>
                  <div class="video-description">
                      <h4 class="movie-title">{{film.title}}</h4>
                      <div class="ratings">
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                          <img src="{%static 'star-icon.svg'%}" alt="" >
                      </div>
                      <span class="category">{{film.uploader.username}}</span>
                      <div>
                          <span class="views">15 views</span>
                          •
                          <span class="date-uploaded">{{film.upload_date}}</span>
                      </div> 
                  </div>
              </div>
              {%endfor%}
            </div>
        </section>
        <section>
            <h1>Top Category</h1>
            <div class="gallery">
              {%for film in film%}
              <div class="movie">
                <a href="{%url 'detail' film.id%}">
                <video width="100%" {%if film.thumbnail%} poster="{{film.thumbnail.url}}" {%endif%}>
                  <source src ="{{film.movie.url}}" type="video/mp4">
                </video></a>
                  <div class="video-description">
                      <h4 class="movie-title">{{film.title}}</h4>
                      <div class="ratings">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                          <img src="{%static 'star-icon.svg'%}" alt="" srcset="">
                      </div>
                      <span class="category">{{film.uploader.username}}</span>
                      <div>
                          <span class="views">15 views</span>
                          •
                          <span class="date-uploaded">{{film.upload_date}}</span>
                      </div> 
                  </div>
              </div>
              {%endfor%}
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="{%static 'desktop-footer-logo.png'%}" alt="">
                <p>Your one stop streaming platform for short college films by college students</p>
            </div>
            <div class="site-map">
                <h4>Site Map</h4>
                <ul>
                    <li><a href="{%url 'dashboard' user.id%}">Home</a> </li>
                    <li><a href="">FAQ</a> </li>
                    <li><a href="">Privacy Policies</a> </li>
                    <li><a href="">Registration</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="{%url 'terms'%}">Terms of use</a></li>
                </ul>
            </div>
            <div class="contact">
                <h4>Contact us</h4>
                <div class="social-links">
                    <img src="{%static 'desktop-insta.png'%}" alt="">
                    <img src="{%static 'desktop-twitter.png'%}" alt="">
                    <img src="{%static 'desktop-fb.png'%}" alt="">
                    <img src="{%static 'desktop-mail.png'%}" alt="">
                </div>
                <div class="phone">
                    <img src="{%static 'desktop-phone.png'%}" alt="">
                    <p>+2348116455541</p>
                </div>
            </div>
        </section>
        <p class="rights">All Rights Reserved</p>
    </footer>
    <script src="{%static 'script/index.js'%}"></script>
</body>
</html>