<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans" />
    <link rel="icon" type="images/png" href="/static/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="<link rel=" stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/63d09c26cf.js" crossorigin="anonymous"></script>
    <title>following</title>
</head>

<body class="body">
    <header class="following_header">
        <div class="logo">
            <img src="/static/desktop-logo.png" alt="logo" width="50px" />
        </div>
        <div class="search_top" style="position: relative;">
            <input type="text" placeholder="Search" name="search" class="search_input">
            <i class="fa-regular fa-circle" style="position:absolute; bottom: 28px; right: 20px;"></i>
        </div>
        <div class="dropdown_top">
            <select class="form-select" aria-label="Default select example">
                <option selected>Category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

        </div>
        <div class="hide">
        <span > <img src="/static/bell-solid.svg" width="25px" height="20px"></span>
        <span ><img src="/static/magnifying-glass-solid.svg" width="25px" height="20px"></span>
        </div>
        <div class="profile">
            <img src="/static/avatar.png" alt="avatar" class="avatar">
        </div>
    </header>
    <main id="main">



        <div class="sidenav">
            <nav>
                <h2>Menu</h2>
                <p> <a href="#"><img src="/static/house-solid.svg" width="15px" height="20px">&nbsp;Home</a><br></p>
                <p> <a href="#"><img src="/static/userPlus.svg" width="15px" height="20px"></i>&nbsp;&nbsp;Following</a><br></p>
                <p> <a href="#"><img src="/static/l.svg" width="15px" height="20px">&nbsp;&nbsp;Library</a><br></p>
                <p> <a href="#"><span style="background-color: red;">New</span>&nbsp; New release</a><br></p>
                <p> <a href="#"><img src="/static/list.svg" width="15px" height="20px">&nbsp;&nbsp;MyList</a><br></p>
                <p> <a href="#"><img src="/static/video.svg" width="15px" height="20px">&nbsp;My Videos</a><br></p>
                <p> <a href="#"><img src="/static/settings.svg">&nbsp; Settings</a><br></p>
                <p> <a href="#">Log out</a><br></p>
            </nav>
        </div>
        <div class="left">
            <div class="top">
                <div>
                    <img src="/static/bars-solid.svg" alt="bar" width="50px" height="30px">
                </div>
                <div class="search">
                    <input type="text" placeholder="Search" name="search">
                    <span > <i
                            class="fa-solid fa-magnifying-glass ico"></i></span>
                </div>
                <div class="search">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                </div>
            </div>
            <div class="btn_group">
                <div> <button class="followers_btn">Followers</button></div>
                <div> <button class="following_btn">Following</button></div>
            </div>

            <div id="following">
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <div class="inner"> -
                    </div>
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <div class="inner"> -
                    </div>
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <div class="inner"> -
                    </div>
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <div class="inner"> -
                    </div>
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <div class="inner"> -
                    </div>
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <div class="inner"> -
                    </div>
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                <div class="people">
                    <img src="/static/avatar.png" alt="avatar" class="avatar">
                    <p>Name</p>
                </div>
                
                
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-wrapper">
            <div class="footer-description">
                <img class="footer-logo" src="/static/desktop-footer-logo.png" alt="one-cube logo" srcset="/static/mobile-footer-logo.png 77w,
                        /static/desktop-footer-logo.png 95w" sizes="(min-width: 1025px) 95px,
                        77px">

                <p class="footer-desc-text">Your one stop streaming platform for short college films by college students
                </p>
            </div>

            <div class="footer-site-map">
                <h2 class="footer-headings">Site Map</h2>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Privacy Policies</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Registration</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">About Us </a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="footer-contact">
                <h2 class="footer-headings">Contact us</h2>
                <div class="socials-icon">
                    <a href="" class="footer-link">
                        <img src="/static/desktop-insta.png" alt="instagram-icon" srcset="/static/desktop-insta.png 31.47w,
                        /static/insta.png 19.67w" sizes="(min-width: 1025px) 31.47px,
                        19.67px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="/static/desktop-twitter.png" alt="twitter-icon" srcset="/static/desktop-twitter.png 35.83w,
                        /static/twitter.png 22.4w" sizes="(min-width: 1025px) 35.83px,
                        22.4px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="/static/desktop-fb.png" alt="fb-icon" srcset="/static/desktop-fb.png 19w,
                        /static/fb.png 11.88w" sizes="(min-width: 1025px) 19px,
                        11.88px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="/static/desktop-mail.png" alt="mail-icon" srcset="/static/desktop-mail.png 31.3w,
                        /static/mail.png 19.56w" sizes="(min-width: 1025px) 31.3px,
                        19.56px">
                    </a>
                </div>
                <div class="footer-phone">
                    <img src="/static/desktop-phone.png" alt="phone-icon" srcset="/static/desktop-phone.png 29.19w,
                        /static/phone.png 18.24w" sizes="(min-width: 1025px) 29.19px,
                        18.24px">

                    <p>+2348116455541</p>
                </div>
            </div>
            <p id="rights">All Rights Reserved</p>
        </div>
    </footer>



</body>

</html>