{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=!, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans" />
  <link rel="icon" type="images/png" href="logo.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap" rel="stylesheet" />
  <script src="{% static 'index.js' %}"></script>
  <title>Sign Up</title>
</head>

<body>
  <header>
    <div class="logo">
      <img src="Logo.png" alt="logo" />
    </div>
  </header>
  <main>
    <form method="post" id="form" action="">
        {% csrf_token %}
      <div class="content" id="step1">
        <h4>Step 1 of 3</h4>
        <br />
        <div class="step-row">
          <div class="step-col" style="background-color: #fca311;"></div>
          <div class="step-col" style="background-color: #e5e5e5;"></div>
          <div class="step-col" style="background-color: #e5e5e5;"></div>
      </div>
        <p>Please input your student registration number.</p>
        <br />
        <input type="text" id="regNum" name="reg_number" class="input" placeholder="Registration Number" /><br />
        <div id="error">This field is required</div>
        <br />
        {{otp}}
        {% if error %}
        <h1 style="color: white;">{{error}}</h1>
        {% endif %}
        {% if already_user %}
        
        <h1 style="color: white;">{{already_user}}</h1>
        {% endif %}
        <br>
        <button class="btn" id="next" type="submit" onclick="checkInput()">
          Continue
        </button>
        
        
      </div>
      </form>
      
  </main>
  <footer>
    <div class="container">
      <div>
        <ul>
          <li><a href="#"> About Us</a></li>
          <li><a href="#"> Terms Of Use</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="#"> Home</a></li>
          <li><a href="#"> FAQ</a></li>
          <li><a href="#"> Privacy</a></li>
          <li><a href="#"> Registration</a></li>
        </ul>
      </div>

      <div>
        <ul>
          <li><a href="#"> Contact Us</a></li>
          <li>
            <i class="fa fa-fw fa-phone icon"></i><a href="#"> Phone Number</a>
          </li>
          <li>
            <i class="fa fa-fw fa-envelope icon"></i><a href="#"> Email address</a>
          </li>
          <li>
            <i class="fa fa-fw fa-facebook icon"></i><a href="#"> Facebook account</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
   
    // input validation
    const regNum = document.getElementById("regNum");
    function checkInput() {
            const regNumValue = regNum.value.trim();
            if (regNumValue === "") {
                document.getElementById("regNum").style.borderColor = "red";
                document.querySelector("#error").style.display = "block";

            } else {
                document.querySelector("#error").style.display = "none";
                document.getElementById("regNum").style.borderColor ="rgb(99, 221, 255)";
                
            }
        }

    
  </script>
</body>

</html>