{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=!, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans" />
    <link rel="icon" type="images/png" href="{%static 'logo.png'%}" />
    <link rel="stylesheet" href="{% static 'css/editedStyle.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap" rel="stylesheet" />
    <script src="{% static 'index.js'%}"></script>
    <title>Sign Up</title>
</head>

<body>
    <header class="createUserHeader">
        <div class="logo">
            <img src="{%static 'desktop-logo.png'%}" alt="logo" />
        </div>
    </header>
    
    {% if access_error %}
    <h1>{{access_error}}</h1>
    {%else%}
    <main class="createUserMain">
        <form method="POST" id="form" action="">
            {% csrf_token %}
            <div class="content" id="step2">
                <h4>Step 2 of 3</h4>
                
                <div class="step-row">
                    <div class="step-col"  style="background-color: #e5e5e5;"></div>
                    <div class="step-col"  style="background-color: #fca311;"></div>
                    <div class="step-col"  style="background-color: #e5e5e5;"></div>
                </div>
                <p>
                    An OTP has been sent to the corresponding email address.<br />
                    Kindly input the 6-digit number
                </p>
                <div>
                    <div class="userInput">
                        <!-- <input class="OtpInput" id="ist" type="text" maxlength="1" name="otp"  -->
                        <input class="OtpInput" id="ist" type="text" maxlength="1" name="otp1" 
                            onkeyup="clickEvent(this,'sec')"/>

                        <input class="OtpInput" id="sec" type="text" maxlength="1" name="otp2"
                            onkeyup="clickEvent(this,'third')" />

                        <input class="OtpInput" id="third" type="text" maxlength="1" name="otp3"
                            onkeyup="clickEvent(this,'fourth')" />

                        <input class="OtpInput" id="fourth" type="text" maxlength="1" name="otp4"
                            onkeyup="clickEvent(this,'fifth')" />

                        <input class="OtpInput" id="fifth" type="text" maxlength="1" name="otp5"
                            onkeyup="clickEvent(this,'sixth')" />

                        <input class="OtpInput" id="sixth" type="text" maxlength="1" name="otp6"/>
                        <input type="hidden" value="{{data}}" name="reg" id="" >
                    </div>
                    {{data}}
                    {% if error %}
                    <h1  style="color: white;">{{error}}</h1>
                    {% endif %}

                </div>
                <div style="display: flex; gap: 10px">
                    <p><small>OTP expires in 10 minutes</small></p>
                    <div style="margin-top: 5px">
                        <span class="count-digit">1</span>
                        <span class="count-digit">0</span>
                        <span class="separator">:</span>
                        <span class="count-digit">0</span>
                        <span class="count-digit">0</span>
                    </div>
                </div>
                <p>I did not receive any otp.<span class="resend">RESEND</span></p>                <br />
                <button type="submit" class="btn">
                    Verify
                </button>
            </div>


        </form>
    </main>
    {%endif%}

    <footer>
        <div class="footer-wrapper">
            <div class="footer-description">
                <img class="footer-logo" src="{%static 'desktop-footer-logo.png'%}" alt="one-cube logo" srcset="{%static 'mobile-footer-logo.png'%} 77w,
                        {%static 'desktop-footer-logo.png'%} 95w" sizes="(min-width: 1025px) 95px,
                        77px">

                <p class="footer-desc-text">Your one stop streaming platform for short college films by college students
                </p>
            </div>

            <div class="footer-site-map">
                <h2 class="footer-headings">Site Map</h2>
                <ul class="footer-list">
                    <li>
                        <a href="{%url 'home'%}" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Privacy Policies</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Registration</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">About Us </a>
                    </li>
                    <li>
                        <a href="{%url 'terms'%}" class="footer-link">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="footer-contact">
                <h2 class="footer-headings">Contact us</h2>
                <div class="socials-icon">
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-insta.png'%}" alt="instagram-icon" srcset="{%static 'desktop-insta.png'%} 31.47w,
                        {%static 'insta.png' %} 19.67w" sizes="(min-width: 1025px) 31.47px,
                        19.67px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-twitter.png' %}" alt="twitter-icon" srcset="{%static 'desktop-twitter.png'%} 35.83w,
                        {%static 'twitter.png'%} 22.4w" sizes="(min-width: 1025px) 35.83px,
                        22.4px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-fb.png'%}" alt="fb-icon" srcset="{%static 'desktop-fb.png'%} 19w,
                        {%static 'fb.png'%} 11.88w" sizes="(min-width: 1025px) 19px,
                        11.88px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-mail.png'%}" alt="mail-icon" srcset="{%static 'desktop-mail.png'%} 31.3w,
                        {%static 'mail.png'%} 19.56w" sizes="(min-width: 1025px) 31.3px,
                        19.56px">
                    </a>
                </div>
                <div class="footer-phone">
                    <img src="{%static 'desktop-phone.png' %}" alt="phone-icon" srcset="{%static 'desktop-phone.png' %} 29.19w,
                        {%static 'phone.png'%} 18.24w" sizes="(min-width: 1025px) 29.19px,
                        18.24px">

                    <p>+2348116455541</p>
                </div>
            </div>
            <p id="rights">All Rights Reserved</p>
        </div>
    </footer>

</body>

</html>