{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/dashboard.css'%}">
    <link rel="stylesheet" href="{%static 'css/my_videos.css'%}">
    <link rel="icon" type="images/png" href="{%static 'logo.png'%}" />
    <title>OneCube Dashboard</title>
</head>
<body>
    <!-- header for desktop -->
    <header class="header-for-desktop">
        <img class="logo" src="{%static 'desktop-logo.png'%}" alt="">
        <div class="search-fields">
            <input type="search" name="" id="" placeholder="Search">
            <select name="categories" id="">
                <option value="Movies">Categories</option>
            </select>
        </div>
        <div class="notification-panel">
            <img src="{%static 'notification-icon.svg'%}" alt="">
            <img src="{%static 'profile-photo.svg'%}" alt="">
        </div>
    </header>
    <!-- header for mobile -->
    <header class="header-for-mobile">
        <div class="top-header">
            <img class="logo" src="{%static 'desktop-logo.png'%}" alt="">
            <div class="notification-panel">
                <img src="{%static 'notification-icon.svg'%}" alt="">
                <img src="{%static 'profile-photo.svg'%}" alt="">
            </div>
        </div>
        
        <div class="search-fields">
            <img id="hamburger" src="{%static 'hamburger-icon.svg'%}" alt="">
            <input type="search" name="" id="">
            <select name="categories" id="">
                <option value="Movies">Categories</option>
            </select>
        </div>
    </header>
    <!-- menu -->
    <nav id="menu">
        <h4 >Menu</h4>
        <ul>
            <li class="menu-items"><a href="{%url 'dashboard' user.id%}"><img src="{%static 'home-icon.svg'%}" alt=""> Home</a></li>
            <li class="menu-items"><a href="{%url 'library'%}"><img src="{%static 'library-icon.svg'%}" alt=""> Library</a></li>
            <li class="menu-items"><a href="{%url 'add_movie'%}"><img src="{%static 'videos-icon.svg'%}" alt=""> Upload</a></li>
            <li class="menu-items"><a href="{%url 'my_videos'%}"><img src="{%static 'videos-icon.svg'%}" alt=""> My Uploads</a></li>
            <li class="menu-items"><a href="{%url 'settings'%}"><img src="{%static 'settings-icon.svg'%}" alt=""> Settings</a></li>
            <li class="menu-items"><a href="{%url 'user_logout'%}"><img src="{%static 'logout-icon.svg'%}" alt=""> Log out</a></li>
        </ul>
        <img id="close-icon" src="{%static 'close.svg'%}" alt="">
    </nav>
    <!-- The Modal -->
    <aside id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h1>Upload videos</h1>
                <img class="close" src="{%static 'close.svg'%}" alt="">
            </div>
            <div class="file-upload-container">
                <label for="file-upload" class="custom-file-upload">
                    <img src="{%static 'upload-icon.svg'%}" alt="" srcset="">
                    <span>Drag and drop files to upload</span> 
                    <button>SELECT FILES</button>
                </label>
                <input id="file-upload" type="file"/>
            </div>
        </div>
    </aside>
    <main class="my-videos">
        <div class="some-sorta-header">
            <h1>My Video Uploads</h1>
            <button id="openModalButton" class="upload-video"><img src="{%static 'plus-icon.svg'%}" alt="">Upload a video</button>
        </div>
        
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Upload Date</td>
                    <td>Likes</td>
                    <td>Dislikes</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for film in movs %}
                <tr>
                    <td>{{film.title}}</td>
                    <td>Published</td>
                    <td>{{film.upload_date}}</td>
                    <td>{{film.likes.count}}</td>
                    <td>{{film.dislikes.count}}</td>
                    <td><a href="{%url 'delete' film.id%}" style="text-decoration: none;"><img src="{%static 'Trash.png'%}"></td></a>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
    <footer>
        <section>
            <div>
                <img src="{%static 'desktop-footer-logo.png'%}" alt="">
                <p>Your one stop streaming platform for short college films by college students</p>
            </div>
            <div class="site-map">
                <h4>Site Map</h4>
                <ul>
                    <li><a href="{%url 'dashboard' user.id%}">Home</a> </li>
                    <li><a href="">FAQ</a> </li>
                    <li><a href="">Privacy Policies</a> </li>
                    <li><a href="">Registration</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="{%url 'terms'%}">Terms of use</a></li>
                </ul>
            </div>
            <div class="contact">
                <h4>Contact us</h4>
                <div class="social-links">
                    <img src="{%static 'desktop-insta.png'%}" alt="">
                    <img src="{%static 'desktop-twitter.png'%}" alt="">
                    <img src="{%static 'desktop-fb.png'%}" alt="">
                    <img src="{%static 'desktop-mail.png'%}" alt="">
                </div>
                <div class="phone">
                    <img src="{%static 'images/desktop-phone.png'%}" alt="">
                    <p>+2348116455541</p>
                </div>
            </div>
        </section>
        <p class="rights">All Rights Reserved</p>
    </footer>
    <script src="{%static 'script/index.js'%}"></script>
</body>
</html>