{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="icon" type="images/png" href="{%static 'logo.png'%}" />
    <title>Sign In</title>
</head>
<body>
    <div class="top-container">
        <div class="logo-container">
            <img class="top-logo" src="{%static 'desktop-logo.png'%}" alt="one-cube logo" srcset="{%static 'logo.png'%} 23w,
                    {%static 'desktop-logo.png'% 92w" sizes="(min-width: 1025px) 92px,
                    23px">
        </div>

        <div class="form-wrapper">
            <div class="form-content">
                {% if messages %}
                {% for message in messages %}
                {{message}}
                {%endfor%}
                {%endif%}

                <form class="sign-in-area"  method="post">
                    {% csrf_token %}
                    <input class="sign-in-email" type="email" placeholder="Input e-mail address" name="emailInput"><br>
                    <input type="password" name="password" placeholder="Input password"><br>

                    <button type="submit">Sign in</button><br><br>
                    <a href="{%url 'reset_password'%}" class="forgot-password">Forgot password?</a>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-wrapper">
            <div class="footer-description">
                <img class="footer-logo" src="{%static 'desktop-footer-logo.png'%}" alt="one-cube logo" srcset="{%static 'mobile-footer-logo.png'%} 77w,
                        {%static 'desktop-footer-logo.png'%} 95w" sizes="(min-width: 1025px) 95px,
                        77px">

                <p class="footer-desc-text">Your one stop streaming platform for short college films by college students
                </p>
            </div>

            <div class="footer-site-map">
                <h2 class="footer-headings">Site Map</h2>
                <ul class="footer-list">
                    <li>
                        <a href="{%url 'home'%}" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Privacy Policies</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Registration</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">About Us </a>
                    </li>
                    <li>
                        <a href="{%url 'terms'%}" class="footer-link">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="footer-contact">
                <h2 class="footer-headings">Contact us</h2>
                <div class="socials-icon">
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-insta.png'%}" alt="instagram-icon" srcset="{%static 'desktop-insta.png'%} 31.47w,
                        {%static 'insta.png' %} 19.67w" sizes="(min-width: 1025px) 31.47px,
                        19.67px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-twitter.png' %}" alt="twitter-icon" srcset="{%static 'desktop-twitter.png'%} 35.83w,
                        {%static 'twitter.png'%} 22.4w" sizes="(min-width: 1025px) 35.83px,
                        22.4px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-fb.png'%}" alt="fb-icon" srcset="{%static 'desktop-fb.png'%} 19w,
                        {%static 'fb.png'%} 11.88w" sizes="(min-width: 1025px) 19px,
                        11.88px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-mail.png'%}" alt="mail-icon" srcset="{%static 'desktop-mail.png'%} 31.3w,
                        {%static 'mail.png'%} 19.56w" sizes="(min-width: 1025px) 31.3px,
                        19.56px">
                    </a>
                </div>
                <div class="footer-phone">
                    <img src="{%static 'desktop-phone.png' %}" alt="phone-icon" srcset="{%static 'desktop-phone.png' %} 29.19w,
                        {%static 'phone.png'%} 18.24w" sizes="(min-width: 1025px) 29.19px,
                        18.24px">

                    <p>+2348116455541</p>
                </div>
            </div>
            <p id="rights">All Rights Reserved</p>
        </div>
    </footer>

</body>
</html>