{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/terms.css'%}">
    <link rel="icon" type="images/png" href="{%static 'logo.png'%}" />
    <title>Onecube - Terms Of Use</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="terms header">
        <nav class="terms navbar">
            <div class="terms logo">
                <img src="{%static 'logo.png'%}" alt="logo">
            </div>
            <div class="terms buttons">
                <a href="{%url 'user_login'%}" class="terms signIn">Sign in</a>
                <a href="{%url 'get_reg'%}" class="terms signUp">Sign up</a>
            </div>
        </nav>
    </header>
    <main class="terms main">
        <h1 class="terms h1">Onecube Terms of Use</h1>
        <div class="terms h2Content">
            <h2 class="terms h2">Welcome to Onecube!</h2>
            <div class="terms content">
                <p>Thank you for choosing the Onecube platform and for using the products and services we make available
                    to you. These terms of use outline your rights and responsiblities as a Onecuber.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Onecube Services</h2>
            <div class="terms content">
                <p>The service allows College students from around the country to upload short movies (of not more than
                    15minutes) as well as watch films uploaded by other students. Users will be allowed to comment,
                    react and share movies to other users. It allows user save data and return back for downloads. Other
                    services include content creation and advertisement of businesses owned by the students.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Who may use our services?</h2>
            <div class="terms content">
                <p>To gain full access to our services, you must be a verified College student who is registered on the
                    plaform.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2"> Non-college students</h2>
            <div class="terms content">
                <p>As a non-college student, you are allowed to;</p>
                <ol class="alpha">
                    <li>Visit the platform to view basic information about the platform.</li>
                    <li>View and interact with the documentation of the platform.</li>
                    <li>Register to view more details.</li>
                    <li>Register in order to gain access to use.</li>
                    <li>View all available movies.</li>
                </ol>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Content of our services?</h2>
            <div class="terms content">
                <p>The content on the service includes videos, graphics, photos, texts ( such as comments and scripts)
                    and business branding. Content is the responsibility of the user. Any content that does not comply
                    with the stated guidelines:</p>
                <ol class="classCounter">
                    <li class="liCounter h3">
                        <h3 class="terms h3">Spam and Deceptive pratices</h3>
                        <ol class="classCounter">
                            <li class="liCounter">Fake engagement</li>
                            <li class="liCounter">Impersonation</li>
                            <li class="liCounter">External link</li>
                            <li class="liCounter">Spam, deceptive</li>
                            <li class="liCounter">Playlists</li>
                            <li class="liCounter">Additional policies</li>
                        </ol>
                    </li>
                    <li class="liCounter h3">
                        <h3 class="terms h3">Sensitive Content</h3>
                        <ol class="classCounter">
                            <li class="liCounter">Child Safety</li>
                            <li class="liCounter">Thumbnails</li>
                            <li class="liCounter">Nudity and sexual content</li>
                            <li class="liCounter">Suicide and self harm</li>
                            <li class="liCounter">Vulgar language</li>
                        </ol>
                    </li>
                    <li class="liCounter h3">
                        <h3 class="terms h3">Violent or dangerous content</h3>
                        <ol class="classCounter">
                            <li class="liCounter">Harrassment and cyberbullying</li>
                            <li class="liCounter">Hate speech</li>
                            <li class="liCounter">Violent criminal organisation</li>
                            <li class="liCounter">Violent or graphic content</li>
                            <li class="liCounter">Regulated goods</li>
                            <li class="liCounter">Firearms</li>
                            <li class="liCounter">Sales of illegal or regulated goods and services</li>
                        </ol>
                    </li>
                    <li class="liCounter h3">
                        <h3 class="terms h3">Misinformation</h3>
                        <ol class="classCounter">
                            <li class="liCounter">Misinformation</li>
                            <li class="liCounter">Election misinformation</li>
                            <li class="liCounter">COVID-19 misinformation</li>
                            <li class="liCounter">Vaccine misinformation</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Privacy Policies</h2>
            <div class="terms content">
                <p>We want to inform Onecube users and visitors regarding our policies with the collection, use and
                    disclosure of personal information if anyone decides to us our services. If you choose to use our
                    services, then you agree to the collection and use of information in relation with this policy. The
                    personal information that we collect are used for providingand improving the services. We will not
                    use or share your information with anyone except as described in this Privacy policy.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Information Collection and Use</h2>
            <div class="terms content">
                <p>For a better experience while using our services, we may require you to provide us with certain
                    personally identifiable informaton, including but not limited to your student ID Card, email
                    address, phone number and residential address. The information we collect will be used to contact or
                    identify you.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Log Data</h2>
            <div class="terms content">
                <p>We want to inform you that whenever you visit our services, we collect information that your browser
                    sends to us that is called Log Data. This Log Data includes your IP address, browser version, pages
                    of our service that you visit, the time and date of your visit, the time spent on thoses pages, and
                    other statistics.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Cookies</h2>
            <div class="terms content">
                <p>Cookies are files with small amount of data that is used as an anonymous unique identifier. These are
                    sent to the browser from the websie that you visit and are stored on your computer’s hard drive.
                    <br>Our website uses these “cookies” to collect information and improve our services. You have the
                    option to either accept or refuse these cookies and know when a cookie is being sent to your device.
                    If you refuse our cookies, you may not be permitted to use a portion of our services.</p>
            </div>
        </div>
        <div class="terms h2Content">
            <h2 class="terms h2">Permissions and Restrictions</h2>
            <div class="terms content">
                <p>You may access and use the Service as made available to you, as long as you comply with this
                    Agreement and the law. You may view or listen to Content for your personal, non-commercial use.
                    <br><br>The following restrictions apply to your use of the Service. You are not allowed to:</p>
                <ol class="permOl">
                    <li>promote Unlawful activities.</li>
                    <li>defame, discriminate or upload mean-spirited contents, including references or commentaries
                        about religion, races, sexual orientation, gender, national/ethnic origin, or other targetted
                        groups.</li>
                    <li>constitute unauthorized or unsolicited advertisements, or any form of unauthorised solicitatons
                        or any form lottery or gambling.</li>
                    <li>prevents false information and features.</li>
                    <li>impersonate a person or entity.</li>
                    <li>infringe on any proprietary rights of any party, including patent trademark, trade secrets,
                        copyright, right of publicity to other rights.</li>
                    <li>cause or encourage any inaccurate measurements of genuine user engagement with the service,
                        including by paying people or providing them with incentives to increase a vides views, likes or
                        dislikes or to increase a channel subscribers or otherwise manipulate metrics.</li>
                    <li>misuse any reporting, flagging, complaints, dispute, or appeals process, including by making
                        groundless, vexatious, or frivolous submissions.</li>
                    <li>run contests on or through the services that do not comply with the onecube privacy policies and
                        guidelines stated on this page.</li>
                </ol>
            </div>
        </div>
        <div class="terms h2Content">
            <div class="terms content">
                <p>By clicking the sign up button above, you’ve acknowledged that you’ve read and agreed to our terms of use and privacy policies and want to create an account.</p>
                <p><b>Last Updated: July 24th, 2022.</b></p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-wrapper">
            <div class="footer-description">
                <img class="footer-logo" src="{%static 'desktop-footer-logo.png'%}" alt="one-cube logo" srcset="{%static 'mobile-footer-logo.png'%} 77w,
                        {%static 'desktop-footer-logo.png'%} 95w" sizes="(min-width: 1025px) 95px,
                        77px">

                <p class="footer-desc-text">Your one stop streaming platform for short college films by college students
                </p>
            </div>

            <div class="footer-site-map">
                <h2 class="footer-headings">Site Map</h2>
                <ul class="footer-list">
                    <li>
                        {%if user.is_authenticated %}
                        <a href="{%url 'dashboard' user.id%}" class="footer-link">Home</a>
                        {%else%}
                        <a href="{%url 'home'%}" class="footer-link">Home</a>
                        {%endif%}
                    </li>
                    <li>
                        <a href="" class="footer-link">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Privacy Policies</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">Registration</a>
                    </li>
                    <li>
                        <a href="" class="footer-link">About Us </a>
                    </li>
                    <li>
                        <a href="{%url 'terms'%}" class="footer-link">Terms of Use</a>
                    </li>
                </ul>
            </div>

            <div class="footer-contact">
                <h2 class="footer-headings">Contact us</h2>
                <div class="socials-icon">
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-insta.png'%}" alt="instagram-icon" srcset="{%static 'desktop-insta.png'%} 31.47w,
                        {%static 'insta.png' %} 19.67w" sizes="(min-width: 1025px) 31.47px,
                        19.67px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-twitter.png' %}" alt="twitter-icon" srcset="{%static 'desktop-twitter.png'%} 35.83w,
                        {%static 'twitter.png'%} 22.4w" sizes="(min-width: 1025px) 35.83px,
                        22.4px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-fb.png'%}" alt="fb-icon" srcset="{%static 'desktop-fb.png'%} 19w,
                        {%static 'fb.png'%} 11.88w" sizes="(min-width: 1025px) 19px,
                        11.88px">
                    </a>
                    <a href="" class="footer-link">
                        <img src="{%static 'desktop-mail.png'%}" alt="mail-icon" srcset="{%static 'desktop-mail.png'%} 31.3w,
                        {%static 'mail.png'%} 19.56w" sizes="(min-width: 1025px) 31.3px,
                        19.56px">
                    </a>
                </div>
                <div class="footer-phone">
                    <img src="{%static 'desktop-phone.png' %}" alt="phone-icon" srcset="{%static 'desktop-phone.png' %} 29.19w,
                        {%static 'phone.png'%} 18.24w" sizes="(min-width: 1025px) 29.19px,
                        18.24px">

                    <p>+2348116455541</p>
                </div>
            </div>
            <p id="rights">All Rights Reserved</p>
        </div>
    </footer>

    <script src="{%static 'index.js'%}"></script>
</body>

</html>